img.best{
  margin: 10px auto;
  width: 30%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px;
  display: block;
}
.flashy{
  color: darkred;
}

h2.flashy{
  font-family: fantasy;
}

p.flashy {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}
